/* Style for the Member's bio script */
.reception-block-member-bio .block-editor-rich-text__editable [data-rich-text-placeholder] {
	pointer-events: none;
}

.reception-block-member-bio .block-editor-rich-text__editable [data-rich-text-placeholder]::after {
	content: attr(data-rich-text-placeholder);
	opacity: 0.62;
}

.reception-block-member-bio .block-editor-rich-text__editable:focus {
	outline: none;
}

.reception-block-member-bio .block-editor-rich-text__editable:focus [data-rich-text-format-boundary] {
	border-radius: 2px;
}

.reception-block-member-bio .block-editor-rich-text__editable:focus:not(.keep-placeholder-on-focus) [data-rich-text-placeholder]::after {
	display: none;
}

body.bp-user.my-account.front .reception-block-member-bio .rich-text {
	border: solid 1px #ccc;
	width: 98%;
}

body.bp-user.my-account.front .reception-block-member-bio .rich-text p {
	padding-right: 1em;
	padding-left: 1em;
}
